# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Environments
.env
.venv
venv/

# IDE
.idea/
.vscode/
*.swp

# Project
assets/
workdir/
results/
results_cls*/
logs/
*.pt
*.pth

# Data
data/
*.tar
*.zip
